image: node:latest

cache:
    paths:
        - node_modules/
        # Enables git-lab CI caching. Both .cache and public must be cached, otherwise builds will fail.
        - .cache/
        - public/

pages:
    script:
        - npm install
        - npm run build
    artifacts:
        paths:
            - public
    only:
        - master
